@charset "UTF-8";

html {
	background-color: #000066;
}

body {
}

.container {
	margin: auto;
	background-color: #000066;
}

header {
	background-color: #000066;
	margin: auto;
	height: 80px;
	width: 300px;
	display: flex;
  	flex-direction: row;
 	flex-wrap: wrap;
 	justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 75px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 75px;
  background-color: #00bfff;
}

.external_left {
	margin-left: auto;
}

.external_right {
	margin-right: auto;
}

.guess_box {
	height:60%;
	width: 60%;
	background-color: #00394d;
	margin: auto;
	cursor: pointer;
}

.hidden {
	display: none;
}

footer {
	background-color: #000066;
	margin: auto;
	height: 180px;
	width: 300px;
	display: flex;
  	flex-direction: row;
 	flex-wrap: wrap;
}

.header_column {
	display: flex;
  	flex-direction: column;
  	flex-wrap: wrap;
}

.header_column1{
	width: 183px;
}

.header_column2{
	width: 48px;
}

.header_column3{
}

.counter, .glyphicon, .good, .bad, .neutral {
	color: #e6b800;
	font-weight: 900;
	flex-direction: column;
	line-height: 80px !important;
}

.counter{
	font-size: 30px;
}

.glyphicon {
	cursor: pointer;
	font-size: 25px;
}

.em.good, .em.neutral, .em.bad {
	display: none;
	margin-top: 22px;
	font-size: 20px;
}

.important.timer {
	margin: auto;
	margin-top: 10px;
}

.finished_pop_up {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: #565956;
  align-content: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}

.pop_up_box {
  width: 290px;
  height: 190px;
  border: none;
  background-color: #428436;
  margin: auto;
  width: 300px;
  height: 300px;
  color: white;
  display: block;
}

.congratz {
  text-align: center;
}

.start_again {
	display: flex;
	justify-content: center;
}

.centered_box {
	display: flex;
}

.record {
	 	justify-content: space-around;
	 	font-size: 20px;
    	padding-top: 20px;
    	color: #e6b800;
		font-weight: 900;
}